.features {


    &__wrapper {

        max-width: 1250px;
        margin: 20px auto;

    }

    &__title {

        color: #fff;
        margin-bottom: 20px;
        font-weight: $font-weight-thin;
        font-size: 25px;

    }

    &-list {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

    }

    &-item {

        background-color: $color-primary;
        margin-top: 0;
        padding-bottom: 20px;

        transform: scale(1);

        &:hover {

            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
          }

        & a {
            flex-basis: 45%;
            margin-bottom: 20px;
          }

        &__img {

            width: 100%;
        }

        &__title {

            padding: 20px 0 0 20px;
            margin-bottom: 20px;
            font-weight: $font-weight-thin;
            font-size: 25px;

        }

        &__text {

            letter-spacing: 2px;
            padding-left: 20px;
            font-size: 14px;;
            font-weight: $font-weight-thin;

        }
    }
}

@media only screen and (max-width: 740px) {
    .features {
      &-list {
        grid-template-columns: 1fr;
        gap: 30px;
      }
    }
  }