.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: block;
    padding: 0;
    &:hover {
      color: #fff;
      transition: color 0.3s linear;
    }
    &.is-active {
      color: green;
    }
  }
}

@media screen and (max-width: 740px) {
  .nav {
      display: none;
  }

  .header .burger {
      display: block;
  }
}
