.hero_main{

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 99px;

}

.hero {

  padding: 160px 0;

  & .title {
    font-weight: $font-weight-thin;
    font-size: 47px;
    color: $color-light;
    line-height: 1.2;
    margin-bottom: 30px;
    & a {
      font-size: 60px;
    }
  }
  & .info {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 52px;
  }
  & .btn {
    color: $color-light;
    background-color: $color-primary;
    padding: 6px 60px;
  }
  & .btn:hover{
    cursor: pointer;
    background-color: darken( $color-primary, 10);
  }

  & .hero__img {

    text-align: right;    

    & img{
      width: 356px;
      max-width: 500px;
      height: auto;
    }

  }

}
@media only screen and (max-width: 685px) {
  .hero__img img{
    margin: 0;
  }
}
@media only screen and (max-width: 685px) {
  .hero_main{
    display: flex !important;
    flex-direction: column;
  }
  .hero .hero__img img{
    margin-top: 20px;
  }
}