/* Main Colors */
$color-base:#fff;
$color-graybase:#1F464E;
$color-light: rgba(255, 255, 255, 0.95);
$color-bg:#333333;
$color-primary:#3697a7;


$color-link:inherit;
$color-link-hover:rgb(31, 198, 87);

/* Fonts */
$font-family:"Poppins", sans-serif;
$font-size:18px;
$font-weight-thin:100;
$font-weight:400;
$letter-spacing:normal;
$line-height:1.5;
